body{
  background-color: salmon;
  text-align: center;
}

img {
  max-width: 100%;
}

.title {
  color:white;
  text-transform: uppercase;
  font-size: 50px;
 
}

h1 {
  color:white;
  text-transform: uppercase;
  font-size: 25px;
  
}

@media only screen and(max-width:320px) {
  h1 {
    color:white;
    text-transform: uppercase;
    font-size: 25px;
    
  }
  
}

.col-6{

  margin-left: 25%;
}

.card{
margin-top: 70px;
}

.btn{
  margin-top:20px;
}

h4{
  color:white;
}

.subTitle{

  font-size: 40px;
  margin-top:50px;
  color:white;
  text-transform: uppercase;
  text-shadow: 5px, 5px, rgb(0,0,0);
}
